{{#foreach posts}}

{{#if @first}}
  <div class="row">
    <article class="col-xs-12 featured">
      {{> loop-post}}
    </article> 
  </div>
  <div class="row masonry">
{{else}}
    <article> 
      {{> loop-post}}
    </article>
{{/if}}

{{#if @last}}
  </div>
{{/if}}

{{/foreach}}

<!-- TODO: images? read more tag -->
