{{!< default}}

<header>

<section class="face" style="background-image:url({{asset "images/me2.jpg"}})"></section>
  <section class="info">
    <h1 id="name">J. Henry Majoros</h1>
    <p id="about">
      Workin' hard so momma don't have to. 
    </p>
  </section>
     
</header>

<main class="container-fluid">

  {{> loop}}

</main>
<footer>

</footer>

