.home-template {
  background-color: #272727;

  header {
    height: 64px;
  }

  main {
    padding: 64px !important;

    article {
      display: inline-block;
      width: 100%;
      margin-bottom: 16px;
    }

    .post-info {
      padding: 32px;

      background-size: cover;
      background-position: center;
      // background-color: $accent2;
      background-blend-mode: lighten;

      border-radius: 2px;

      .date {
        margin-bottom: 8px;
        font-family: 'Roboto';
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        color: rgba(255, 255, 255, 0.6);
      }

      .title {
        display: block;
        margin-bottom: 8px;
        padding-bottom: 8px;
        font-family: 'Yeseva One';
        font-size: 40px;
        color: #efefef;
        text-shadow: 0 0 50px black;
        text-decoration: none;

        &:hover {
          border-bottom: 1px dashed white;
          padding-bottom: 7px;
        }
          
      }

      .excerpt {
        margin-bottom: 32px;
        font-family: 'Open Sans';
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        color: #fff;
        text-shadow: 0 0 25px black;
      }
      
      .btn-more {
        display: inline-block;
        color: #272727;
        font-family: 'Roboto';
        font-size: 12px;
        font-weight: 600;
        background: white;
        padding: 10px 24px;
        border-radius: 2px;
        text-decoration: none;
        transition: all .2s cubic-bezier(.62,.28,.23,.99);
        box-shadow: $shadow1;

        &:hover {
          box-shadow: $shadow3;
        }
      }
    }

    .masonry {
      -moz-column-width: 25em;
      -webkit-column-width: 25em;
      -moz-column-gap: 16px;
      -webkit-column-gap: 16px; 
      column-width: 25em;
      column-gap: 16px;
    }

    article.featured {
      padding: 0;

      .post-info {
        padding-right: 50%;
      }

      .date:after {
        content: ' | FEATURED';
        opacity: .75;
      }
    }
    
  }
}
