@import url(reset.css);
* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

.bg-1, .bg-1-hover:hover {
  background-color: #2c3b8d; }

.bg-2, .bg-2-hover:hover {
  background-color: #13615d; }

.bg-3, .bg-3-hover:hover {
  background-color: #9b3c51; }

.bg-1-hover {
  background-color: #202b66; }

.bg-2-hover {
  background-color: #0b3634; }

.bg-3-hover {
  background-color: #762e3e; }

/*.bg-4-hover {
  background-color: darken($accent4, 10%);
  &:hover { @extend .bg-4; }
}*/
.home-template {
  background-color: #272727; }
  .home-template header {
    height: 64px; }
  .home-template main {
    padding: 32px !important; }
    .home-template main article {
      display: inline-block;
      width: 100%;
      margin-bottom: 16px; }
    .home-template main .post-info {
      padding: 32px;
      background-size: cover;
      background-position: center;
      background-blend-mode: lighten;
      border-radius: 2px; }
      .home-template main .post-info .date {
        margin-bottom: 8px;
        font-family: 'Roboto';
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        color: rgba(255, 255, 255, 0.6); }
      .home-template main .post-info .title {
        display: block;
        margin-bottom: 16px;
        font-family: 'Yeseva One';
        font-size: 40px;
        color: #efefef;
        text-shadow: 0 0 50px black;
        text-decoration: none; }
      .home-template main .post-info .excerpt {
        margin-bottom: 32px;
        font-family: 'Open Sans';
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        color: #fff;
        text-shadow: 0 0 25px black; }
      .home-template main .post-info .btn-more {
        display: inline-block;
        color: #272727;
        font-family: 'Roboto';
        font-size: 12px;
        font-weight: 600;
        background: white;
        padding: 10px 24px;
        border-radius: 2px;
        text-decoration: none;
        transition: all 0.2s cubic-bezier(0.62, 0.28, 0.23, 0.99);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
        .home-template main .post-info .btn-more:hover {
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
    .home-template main .masonry {
      -moz-column-width: 25em;
      -webkit-column-width: 25em;
      -moz-column-gap: 16px;
      -webkit-column-gap: 16px;
      column-width: 25em;
      column-gap: 16px; }
    .home-template main article.featured {
      padding: 0; }
      .home-template main article.featured .post-info {
        padding-right: 50%; }
      .home-template main article.featured .date:after {
        content: ' | FEATURED';
        opacity: .75; }
  @media screen and (min-width: 768px) {
    .home-template main {
      padding: 64px !important; } }

.post-template {
  background-color: #272727; }
  .post-template .container-fluid {
    padding: 16px !important; }
  .post-template article header {
    height: 350px;
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
    border-radius: 2px 2px 0 0; }
  .post-template article main {
    background-color: #e7e7e7;
    padding: 32px 48px;
    border-radius: 0 0 2px 2px; }
    .post-template article main .date {
      margin: 32px 0 8px 0;
      font-family: 'Roboto';
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2px;
      color: #999; }
    .post-template article main h1 {
      font-family: 'Yeseva One';
      font-size: 48px;
      margin-bottom: 32px;
      color: #333; }
    .post-template article main p {
      margin-bottom: 16px;
      font-family: 'Open Sans';
      font-size: 15px;
      line-height: 1.75; }
  .post-template footer {
    margin-top: 16px; }
    .post-template footer .prev-post {
      margin-bottom: 16px; }
    .post-template footer .next-post, .post-template footer .prev-post {
      display: block;
      width: 100%;
      min-height: 100px;
      padding: 32px;
      border-radius: 2px;
      transition: all 0.3s cubic-bezier(0.62, 0.28, 0.23, 0.99);
      background-size: cover;
      background-position: center;
      background-blend-mode: lighten; }
      .post-template footer .next-post:hover, .post-template footer .prev-post:hover {
        text-decoration: none; }
      .post-template footer .next-post .post-pager, .post-template footer .prev-post .post-pager {
        margin-bottom: 8px;
        font-family: 'Roboto';
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        color: rgba(255, 255, 255, 0.6); }
      .post-template footer .next-post .post-title, .post-template footer .prev-post .post-title {
        font-family: 'Yeseva One';
        font-size: 30px;
        color: white;
        text-decoration: none; }
  @media screen and (min-width: 768px) {
    .post-template .container-fluid {
      padding: 64px !important; }
    .post-template article main {
      padding: 64px 128px; }
    .post-template footer .prev-post {
      margin-bottom: 0; }
    .post-template footer .col-sm-6:first-child {
      padding-right: 8px; }
    .post-template footer .col-sm-6:last-child {
      padding-left: 8px; } }

/*# sourceMappingURL=main.css.map */
