.post-template {
  header {
    height: 80vh;

    main {
      position: absolute;
      width: 100%;
      top: 40vh;
      transform: translateY(-50%);
      padding: 16px 32px;

    }

    .home {
      margin-bottom: 32px;
      color: #999;
      cursor: pointer;
      transition: all .2s cubic-bezier(.62,.28,.23,.99);

      &:hover {
        color: #333;
      }
    }

    #title {
      margin-bottom: 48px;
      font-family: 'Yeseva One';
      font-size: 50px;
      color: #333;
    }

    #info {
      margin-bottom: 8px;
      font-family: 'Roboto';
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2px;
      color: #777;

      .tag:first-of-type {
        margin-left: 24px;
      }

      .tag {
        margin-left: 8px;
        text-decoration: none;
        color: #bbb;
        transition: all .2s cubic-bezier(.62,.28,.23,.99);

        &:hover {
          color: #999;
        }
      }
    }

    // changes text from black -> white
    &.img {
      // new-ish color + style
      background-color: rgba(59, 78, 183, 0.75);
      background-blend-mode: lighten;
      
      // older color+ style
      // background-color: rgba(0, 17, 255, 0.41);
      // background-blend-mode: screen;

      background-size: cover;
      background-position: center;

      main {
        background: rgba(200,200,200,0.1);
      }

      .home {
        color: rgba(255,255,255,0.5); 

        &:hover {
          color: #eee;
        }
      }

      #title {
        color: #eee;
      }

      #info {
        color: rgba(255,255,255,0.5); 
      }

      #info .tag {
        color: rgba(255, 255, 255, 0.7);

        &:hover {
          color: #eee;
        }
      }
    }
  }

  .content {
    background: #f7f7f7;
    padding: 32px;

    p {
      margin-bottom: 18px;
      font-family: 'Open Sans';
      font-weight: 300;
      font-size: 15px;
      line-height: 1.75em;
      color: #333;
    }
  }

  footer {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -1px;
    background: #f7f7f7;
    border-top: 1px solid #e7e7e7;
  }

  .prev-post, .next-post {
    width: 50%;
    cursor: pointer;
    transition: all .2s cubic-bezier(.62,.28,.23,.99);

    > .post-info {
      display: block;
      margin-bottom: 6px;
      font-family: 'Roboto';
      font-size: 11px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2px;
      color: #999; 
    }

    > .post-title {
      display: block;
      font-family: 'Yeseva One';
      font-size: 20px;
      color: #444;
    }

    &:hover {
      background-color: #dedede;
      text-decoration: none;

    }
  }

  .filler {
    width: 50%;
  }

  .prev-post {
    left: 0;
    text-align: left;
    padding: 32px 12px 32px 32px;
  }

  .next-post {
    right: 0;
    text-align: right;
    padding: 32px 32px 32px 12px;
  }

  @media screen and (min-width: 768px) {

    // needed for menu hiding offscreen
    body {
      overflow: hidden;
    }

    header {
      position: relative;
      height: 100vh;
      width: 50%;
      float: left;

      main {
        top: 50vh;
      }
    }

    .content {
      position: relative;
      height: 100vh;
      margin-left: 50%;
      padding: 64px;
      overflow: scroll;

      hr {
        border-color: #e7e7e7;
        margin-top: 24px;
        margin-bottom: 0;
      }
    }

    footer {
      display: flex;
      position: absolute;
      left: 0;
      right: 0;
      margin-top: -1px;
    }

    .prev-post, .next-post {
      width: 50%;
      cursor: pointer;
      transition: all .2s cubic-bezier(.62,.28,.23,.99);

      > .post-info {
        display: block;
        margin-bottom: 6px;
        font-family: 'Roboto';
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        color: #999; 
      }

      > .post-title {
        display: block;
        font-family: 'Yeseva One';
        font-size: 20px;
        color: #444;
      }

      &:hover {
        background-color: #dedede;
        text-decoration: none;

      }
    }

    .filler {
      width: 50%;
    }

    .prev-post {
      left: 0;
      text-align: left;
      padding: 32px 16px 32px 64px;
    }

    .next-post {
      right: 0;
      text-align: right;
      padding: 32px 64px 32px 16px;
    }
  }
}
