.post-template {
  background-color: #272727;

  .container-fluid {
    padding: 16px !important;
  }

  article {

    header {
      height: 350px;
      background-size: cover;
      background-position: center;
      background-blend-mode: lighten;
      border-radius: 2px 2px 0 0;
    }

    main {
      background-color: #e7e7e7;
      padding: 32px 48px;
      border-radius: 0 0 2px 2px;
      
      .date {
        margin: 32px 0 8px 0;
        font-family: 'Roboto';
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        color: #999;
      }

      h1 {
        font-family: 'Yeseva One';
        font-size: 48px;
        margin-bottom: 32px;
        color: #333;
      }

      p {
        margin-bottom: 16px;
        font-family: 'Open Sans';
        font-size: 15px;
        line-height: 1.75;
      }
    }
  }

  footer {
    margin-top: 16px;
    
    .prev-post {
      margin-bottom: 16px;
    }

    .next-post, .prev-post {
      display: block;
      width: 100%;
      min-height: 100px;
      padding: 32px; 
      border-radius: 2px;
      transition: all .3s cubic-bezier(0.62, 0.28, 0.23, 0.99);

      background-size: cover;
      background-position: center;
      background-blend-mode: lighten;

      &:hover { text-decoration: none; }

      .post-pager {
        margin-bottom: 8px;
        font-family: 'Roboto';
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        color: rgba(255, 255, 255, 0.6);
      }

      .post-title {
        font-family: 'Yeseva One';
        font-size: 30px;
        color: white;
        text-decoration: none;
      }
    }
  }
  @media screen and (min-width: 768px) {
    .container-fluid {
      padding: 64px !important;
    }

    article main {
      padding: 64px 128px;
    }

    footer {
      .prev-post {
        margin-bottom: 0;
      }

      .col-sm-6:first-child {
        padding-right: 8px;
      }

      .col-sm-6:last-child {
        padding-left: 8px;
      }
    }
  }
}
